<!DOCTYPE html>

<h3>Hi {{ body.name }},</h3>
<ul>
    <li>Your account information can be found
        <a href="https://imagesecrets.herokuapp.com/users/me">at this API endpoint</a></li>
    <li>
        <a href="https://imagesecrets.herokuapp.com/decode">Decoded</a> and
        <a href="https://imagesecrets.herokuapp.com/encode">Encoded</a> images also have their own endpoints
    <li>Please refer to the
        <a href="https://imagesecrets.herokuapp.com/docs">API documentation</a> for more details.</li>
</ul>
